*{
    margin: 0;
    padding: 0;
}
.desktop-hUg {
    background-color: #ffffff;
    width: 100%;
    height: 207.2rem;
    overflow: hidden;
    background-size: cover;
    

  
    .group-8-jgG {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 169.5rem;
      left: 10.1rem;
      position: absolute;
      top: 28.9rem;
      width: 154.2rem;
  
      .auto-group-yrxy-FRe {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding-bottom: 18.8519rem;
        width: 100%;
  
        .auto-group-ldhn-BKJ {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 50.7rem;
          margin: 0rem 3.7rem 13.7rem 2.8rem;
          width: calc(100% - 6.5rem);
  
          .group-1-U3W {
            background-color: #d9d9d9;
            border-radius: 2rem;
            box-shadow: 0.4rem 0.7rem 3.2rem rgba(0, 0, 0, 0.4399999976);
            flex-shrink: 0;
            height: 100%;
            margin-right: 4.9rem;
            width: 45.6rem;
  
            .image-4-1ZE {
              border-radius: 2rem;
              height: 50.7rem;
              object-fit: cover;
              vertical-align: top;
              width: 45.6rem;
            }
          }
          .auto-group-gtj6-26x {
            background-color: #e4d8ff;
            border: solid 0.6rem #ffffff;
            border-radius: 2rem;
            box-shadow: inset 0.3rem 0.5rem 2.7rem rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            flex-shrink: 0;
            height: 100%;
            padding: 2.9rem 3.7rem 2.9rem 3.4rem;
  
            .its-not-only-writers-who-can-benefit-from-this-free-online-tool-if-youre-a-programmer-whos-working-on-a--LdS {
              color: #6f7373;
              font-family: DM Sans, 'Source Sans Pro';
              font-size: 2.9rem;
              font-weight: 400;
              line-height: 1.7869999327;
              max-width: 90.1rem;
            }
          }
        }
        .auto-group-yyve-JTn {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 14.5481rem;
          margin-right: 1.7rem;
          width: calc(100% - 1.7rem);
  
          .auto-group-3ldi-ph2 {
            background-color: #919cff;
            border-radius: 1.1rem;
            box-shadow: 0 0.9rem 3.1rem rgba(0, 0, 0, 0.400000006);
            box-sizing: border-box;
            flex-shrink: 0;
            height: 100%;
            padding: 2rem 2.8rem 1.648rem 2.8rem;
            width: 33.7rem;
  
            .total-questions-XbS {
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              font-size: 2.9rem;
              font-weight: 700;
              letter-spacing: 0.116rem;
              line-height: 1.7869999327;
              margin-bottom: 0.6rem;
              white-space: nowrap;
            }
            .item-200000-cct {
              color: #ffffff;
              font-family: DM Sans, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 700;
              letter-spacing: 0.012rem;
              line-height: 0.01;
              white-space: nowrap;
            }
          }
          .auto-group-cdme-6HA {
            align-items: center;
            box-sizing: border-box;
            column-gap: 5.9rem;
            display: flex;
            flex-shrink: 0;
            height: 100%;
            padding-left: 5.9rem;
  
            .auto-group-nsny-1uv {
              background-color: #734cf2;
              border-radius: 1.1rem;
              box-shadow: 0 0.9rem 3.1rem rgba(0, 0, 0, 0.400000006);
              box-sizing: border-box;
              flex-shrink: 0;
              height: calc(100% - 0.0001rem);
              margin-bottom: 0.0001rem;
              padding: 2rem 2.7rem 1.648rem 2.7rem;
              width: 33.7rem;
  
              .total-answers-iJY {
                color: #ffffff;
                font-family: DM Sans, 'Source Sans Pro';
                font-size: 2.9rem;
                font-weight: 700;
                letter-spacing: 0.116rem;
                line-height: 1.7869999327;
                margin-bottom: 0.6rem;
                white-space: nowrap;
              }
              .item-105000-EGt {
                color: #ffffff;
                font-family: DM Sans, 'Source Sans Pro';
                font-size: 2.8rem;
                font-weight: 700;
                letter-spacing: 0.112rem;
                line-height: 0.01;
                white-space: nowrap;
              }
            }
            .auto-group-7ynu-JnY {
              background-color: #d188ff;
              border-radius: 1.1rem;
              box-shadow: 0 0.9rem 3.1rem rgba(0, 0, 0, 0.400000006);
              box-sizing: border-box;
              flex-shrink: 0;
              height: calc(100% - 0.0481rem);
              margin-bottom: 0.0481rem;
              padding: 2rem 2.7rem 1.6rem 2.7rem;
              width: 33.7rem;
  
              .participated-1BA {
                color: #ffffff;
                font-family: DM Sans, 'Source Sans Pro';
                font-size: 2.9rem;
                font-weight: 700;
                letter-spacing: 0.116rem;
                line-height: 1.7869999327;
                margin-bottom: 0.6rem;
                white-space: nowrap;
              }
              .item-10000-LUL {
                color: #ffffff;
                font-family: DM Sans, 'Source Sans Pro';
                font-size: 2.8rem;
                font-weight: 700;
                letter-spacing: 0.112rem;
                line-height: 0.01;
                white-space: nowrap;
              }
            }
            .auto-group-twnq-qR6 {
              background-color: #000000;
              border-radius: 1.1rem;
              box-shadow: 0 0.9rem 3.1rem rgba(0, 0, 0, 0.400000006);
              box-sizing: border-box;
              flex-shrink: 0;
              height: calc(100% - 0.0001rem);
              margin-bottom: 0.0001rem;
              padding: 2rem 2.7rem 1.648rem 2.7rem;
              width: 33.7rem;
  
              .total-passed-54Y {
                color: #ffffff;
                font-family: DM Sans, 'Source Sans Pro';
                font-size: 2.9rem;
                font-weight: 700;
                letter-spacing: 0.116rem;
                line-height: 1.7869999327;
                margin-bottom: 0.6rem;
                white-space: nowrap;
              }
              .item-6000-boa {
                color: #ffffff;
                font-family: DM Sans, 'Source Sans Pro';
                font-size: 2.8rem;
                font-weight: 700;
                letter-spacing: 0.112rem;
                line-height: 0.01;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .auto-group-kufn-HRW {
        align-items: center;
        background-color: #483eff;
        border-radius: 2.1rem;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: 71.7rem;
        padding: 3.1rem 2.7rem 3rem 5.2rem;
        width: 100%;
  
        .auto-group-bz7e-bh6 {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: calc(100% - 9.3rem);
          margin: 4.2rem 6.2rem 5.1rem 0rem;
          row-gap: 8.2rem;
          width: 39.7rem;
  
          .auto-group-ifug-uhn {
            align-items: center;
            background-color: #bce0f6;
            border-radius: 2.2rem;
            box-shadow: 0 0.6rem 3.5rem rgba(0, 0, 0, 0.3899999857);
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: DM Sans, 'Source Sans Pro';
            font-size: 3.5rem;
            font-weight: 700;
            height: 13.3rem;
            justify-content: center;
            letter-spacing: 0.14rem;
            line-height: 1.7869999477;
            white-space: nowrap;
            width: 100%;
          }
          .auto-group-gcj6-Adi {
            align-items: center;
            border: solid 0.5rem #ffffff;
            border-radius: 2.2rem;
            box-sizing: border-box;
            color: #ffffff;
            display: flex;
            flex-shrink: 0;
            font-family: DM Sans, 'Source Sans Pro';
            font-size: 3.5rem;
            font-weight: 700;
            height: 13.3rem;
            justify-content: center;
            letter-spacing: 0.14rem;
            line-height: 1.7869999477;
            white-space: nowrap;
            width: 100%;
          }
          .auto-group-qar2-JtL {
            align-items: center;
            border: solid 0.5rem #ffffff;
            border-radius: 2.2rem;
            box-sizing: border-box;
            color: #ffffff;
            display: flex;
            flex-shrink: 0;
            font-family: DM Sans, 'Source Sans Pro';
            font-size: 3.5rem;
            font-weight: 700;
            height: 13.3rem;
            justify-content: center;
            letter-spacing: 0.14rem;
            line-height: 1.7869999477;
            white-space: nowrap;
            width: 100%;
          }
        }
        .auto-group-qcsw-nHi {
          background-color: #ffffff;
          border-radius: 1.9rem;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          padding: 7.2rem 5.3rem 3.6rem 5.4rem;
          width: 100.4rem;
  
          .your-information-Vhv {
            color: #04285a;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.8rem;
            font-weight: 700;
            letter-spacing: 0.399rem;
            line-height: 0.1;
            margin-bottom: 4.6rem;
            white-space: nowrap;
          }
          .auto-group-qd1v-cnY {
            align-items: center;
            display: flex;
            margin: 0rem 0rem 3rem 3rem;
  
            .name-LyS {
              color: #04285a;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 500;
              letter-spacing: 0.294rem;
              line-height: 1.17;
              margin-right: 2.7rem;
              white-space: nowrap;
            }
            .item--FqW {
              color: #04285a;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.6rem;
              font-weight: 500;
              letter-spacing: 0.273rem;
              line-height: 0.7868749178;
              margin: 0.2rem 2.6rem 0rem 0rem;
              white-space: nowrap;
            }
            .atul-singhal-MtY {
              color: #143565;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 400;
              letter-spacing: 0.12rem;
              line-height: 1.1725;
              margin-top: 0.4rem;
              white-space: nowrap;
            }
          }
          .auto-group-e6bw-53r {
            align-items: center;
            display: flex;
            margin: 0rem 0rem 3.2rem 3rem;
  
            .email-R7i {
              color: #04285a;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 500;
              letter-spacing: 0.294rem;
              line-height: 1.1725;
              margin-right: 2.9rem;
              white-space: nowrap;
            }
            .item--x7e {
              color: #04285a;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.6rem;
              font-weight: 500;
              letter-spacing: 0.273rem;
              line-height: 0.7868749178;
              margin: 0rem 2.3rem 0.2rem 0rem;
              white-space: nowrap;
            }
            .atulgmailcom-sEc {
              color: #143565;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 400;
              letter-spacing: 0.12rem;
              line-height: 1.1725;
              margin-top: 0.4rem;
              white-space: nowrap;
            }
          }
          .auto-group-cokp-Pik {
            align-items: center;
            display: flex;
            margin: 0rem 0rem 3.2rem 3rem;
  
            .phone-LP6 {
              color: #04285a;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 500;
              letter-spacing: 0.294rem;
              line-height: 1.1725;
              margin-right: 1.9rem;
              white-space: nowrap;
            }
            .item--eeg {
              color: #04285a;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.6rem;
              font-weight: 500;
              letter-spacing: 0.273rem;
              line-height: 0.7868749178;
              margin: 0rem 2.6rem 0.2rem 0rem;
              white-space: nowrap;
            }
            .item-91-8131424888-xQU {
              color: #143565;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 400;
              letter-spacing: 0.12rem;
              line-height: 1.1725;
              margin-top: 0.4rem;
              white-space: nowrap;
            }
          }
          .auto-group-9vay-U7v {
            align-items: center;
            display: flex;
            margin: 0rem 0rem 15.1rem 3rem;
  
            .marks-Cpc {
              color: #04285a;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.8rem;
              font-weight: 500;
              letter-spacing: 0.294rem;
              line-height: 1.1725;
              margin-right: 2rem;
              white-space: nowrap;
            }
            .item--k5S {
              color: #04285a;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.6rem;
              font-weight: 500;
              letter-spacing: 0.273rem;
              line-height: 0.7868749178;
              margin: 0rem 2.6rem 0.2rem 0rem;
              white-space: nowrap;
            }
            .item-50000-ruA {
              color: #143565;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 400;
              letter-spacing: 0.12rem;
              line-height: 1.1725;
              margin-top: 0.4rem;
              white-space: nowrap;
            }
          }
        .auto-group-zf72-BRe {
            align-items: center;
            background-color: #000000;
            border-radius: 0.9rem;
            box-sizing: border-box;
            display: flex;
            margin-left: 69rem;
            padding: 2.2rem 2.9rem 2rem 2.1rem;
            width: calc(100% - 69rem);
  
            .next-spG {
              color: #ffffff;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 3rem;
              font-weight: 400;
              letter-spacing: 0.15rem;
              line-height: 0.5;
              margin-right: 1.1rem;
              white-space: nowrap;
            }
            .arrow-1-AYU {
              flex-shrink: 0;
              height: 0;
              object-fit: contain;
              vertical-align: top;
              width: 3.8rem;
            }
          }
        }
      }
    }
    .frame-2-pN8 {
    
      position: sticky;
      top: 0;
      right: 100;
      bottom: 0;
      
    }
    
    .group-2-M7A {
        background-color: #ffffff;
        border-radius: 6rem;
        box-shadow: 1.4rem 1.5rem 3.5rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        height: 12rem;
        left: 150.6rem;
        padding: 2.1rem 2rem 2.087rem 2rem;
        position:relative;
        top: 98.6rem;
        width: 12rem;
    .vector-SuJ {
        width: 120px;
        height: 120px;
        top: 986px;
        left: 1506px;
        position: fixed;

      }
    }
    .group-7-YhS {
      align-items: center;
      background-color: #6f6af7;
      box-sizing: border-box;
      display: flex;
      height: 12.7rem;
      left: 0;
      padding: 2.7rem 5.3rem 2.1rem 4.4rem;
      position: absolute;
      top: 0;
      width: 172.8rem;
  
      .dappr-odN {
        color: #ffffff;
        flex-shrink: 0;
        
        font-size: 6.143rem;
        font-weight: 700;
        line-height: 1.2825;
        margin-right: 15.5rem;
        white-space: nowrap;
        font-style:Delius Unicase;
      }
      .home-vhz {
        color: #ffffff;
        flex-shrink: 0;
        font-family: DM Sans, 'Source Sans Pro';
        font-size: 3.643rem;
        font-weight: 400;
        line-height: 1.3025;
        margin: 0rem 4.9rem 0.1rem 0rem;
        white-space: nowrap;
      }
      .about-us-FVN {
        color: #ffffff;
        flex-shrink: 0;
        font-family: DM Sans, 'Source Sans Pro';
        font-size: 3.643rem;
        font-weight: 400;
        line-height: 1.3025;
        margin: 0rem 4.7rem 0.3rem 0rem;
        white-space: nowrap;
      }
      .information-B88 {
        color: #ffffff;
        flex-shrink: 0;
        font-family: DM Sans, 'Source Sans Pro';
        font-size: 3.643rem;
        font-weight: 400;
        line-height: 1.3025;
        margin: 0rem 5.1rem 0.3rem 0rem;
        white-space: nowrap;
      }
      .more-Vec {
        color: #ffffff;
        flex-shrink: 0;
        font-family: DM Sans, 'Source Sans Pro';
        font-size: 3.643rem;
        font-weight: 400;
        line-height: 1.3025;
        margin: 0rem 0.3rem 0.3rem 0rem;
        white-space: nowrap;
      }
      .vector-2eY {
        flex-shrink: 0;
        height: 0.7768rem;
        margin: 0rem 5.9rem 0.095rem 0rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.4rem;
      }
      .auto-group-hwnx-9jA {
        align-items: center;
        background-color: #ffffff;
        border-radius: 6.3rem;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: calc(100% - 2.2rem);
        margin: 0.9rem 12.3rem 1.3rem 0rem;
        padding: 1.2rem 1.9rem 1.3rem 2.5rem;
  
        .search-4LL {
          color: #9f9f9f;
          flex-shrink: 0;
          font-family: DM Sans, 'Source Sans Pro';
          font-size: 2.443rem;
          font-weight: 400;
          line-height: 1.3025;
          margin-right: 14.6rem;
          white-space: nowrap;
        }
        .search-oHv {
          flex-shrink: 0;
          height: 2.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 2.6rem;
        }
      }
      .vector-jBa {
        flex-shrink: 0;
        height: 4.6605rem;
        margin-bottom: 0.8719rem;
        object-fit: contain;
        vertical-align: top;
        width: 6.7rem;
      }
    }
  }
  
  
  